<% self.title = @category.name + ( params[:page] ? " | stran #{params[:page]}" : "" ) + " - " + @blog.name %>
<% content_for :wrapper_class do %>blog<% end %>
<h1 class="twelve columns"><%= @blog.name %> <i class="icon-angle-right"></i> <%=@category.name %></h1>

<ul class="posts content asRows clearfix cb fw300" data-hook="post-categories-show">

  <%= render :partial => 'spree/blogs/shared/preview', :collection => @posts, :as => :post %>


</ul>

<%= paginate @posts %>


<% content_for :sidebar do %>
  <%= render :partial => 'spree/blogs/shared/sidebar' %>
<% end %>
