<%#= render :partial => 'spree/admin/shared/configuration_menu' %>

<h1>Edit Blog</h1>

<% if @object.try(:errors).present? %>
  <%= render 'spree/shared/error_messages', :target => @object %>
<% end %>

<%= form_for([:admin, @object]) do |f| %>
  <%= render "form", :form => f %>
  <p class="form-buttons" style="margin-top:20px;">
    <%= button Spree.t("update") %> <%= Spree.t('or') %> <%= link_to Spree.t('cancel'), collection_url, class: "btn btn-danger" %>
  </p>
<% end %>

<%= render "spree/blogs/admin/shared/select_configuration_tab" unless request.xhr? %>
