<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>

<div id="add-line-item" data-hook>
  <fieldset>
    <legend align="center"><%= Spree.t(:add_product) %></legend>

    <div class="row">
      <div class="col-md-6">
        <div data-hook="add_product_name" class="field ten columns alpha">
          <%= label_tag :add_product_name, Spree.t(:name_or_sku) %>
          <%= hidden_field_tag :add_variant_id, "", :class => "variant_autocomplete fullwidth" %>
        </div>
        <div data-hook="add_taxon_name" class="field ten columns alpha">
          <%= label_tag :add_product_name, Spree.t(:taxon) %>
          <%= collection_select(:add, :taxon_id, Spree::Taxon.all, :id, :name, { :include_blank => 'Vsi' } , :class => "select2 fullwidth") %>
      </div>

      <div class="col-md-8">
        <div data-hook="add_button" class="actions two columns omega">
          <div class="form-actions">
            <div class="col-md-4" style="float:left;">
              <%= button_tag( :class => "btn btn-sm btn-primary") do %>
                <span class="glyphicon glyphicon-plus"></span> Dodaj izdelek
              <% end %>
            </div>
            <div class="col-md-4" style="float:right;">
              <%= link_to admin_post_products_url(@post, :destroy_all => "1"),
                  :method => :post,
                  :id => 'destroy_product_to_post',
                  :class => 'button fullwidth btn btn-sm btn-danger',
                  'data-update' => 'post-form-wrapper' do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  <span style="padding:5px;">Odstrani vse</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </fieldset>
</div>
