<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Related Products"} %>

<% content_for :page_title do %>
  - Related Products
<% end %>

  <div id="add-line-item">
    <fieldset>
      <legend><%= t('.add_related_product') %></legend>
      <%= simple_form_for(Spree::PostProduct.new, url: admin_post_products_path) do |f| %>
        <%= f.association :product %>
        <%= f.submit 'Add related product' %>
      <% end %>
    </fieldset>
  </div>

  <div id="products-table-wrapper">
    <%= render :partial => "related_products_table", :locals => { :post => @post } %>
  </div>
