<%= render :partial => 'spree/blogs/admin/shared/post_tabs', :locals => {:current => "Related Products"} %>

<% content_for :page_title do %>
  - Related Products
<% end %>

  <div id="add-line-item">
    <fieldset>
      <legend><%= Spree.t('add_related_product') %></legend>
      <%= simple_form_for(Spree::PostProduct.new, url: admin_post_products_path) do |f| %>
        <div class="row">
          <div class="date-range-filter col-md-8">
            <div class="col-md-6">
              <div class="form-group">
                <%= label_tag :product, Spree.t('products') %>
                <%= f.select :product, Spree::Product.pluck(:name, :id), {:include_blank => true}, :class => 'select2 js-filterable' %>
                <%#= f.select :product, Spree::Product.all.map {|s| [s.name, s.id]}, {:include_blank => true}, :class => 'select2 js-filterable' %>
              </div>
            </div>
            <div class="form-actions">
              <%= f.submit Spree.t('add'), :class => 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    </fieldset>
  </div>

  <div id="products-table-wrapper">
    <%= render :partial => "related_products_table", :locals => { :post => @post } %>
  </div>
